
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  #search {
     position: absolute;
     top: 18%;
    right: 1%;
     }
  #tip{
    text-align: center;
  }
 

  /* Style the Introduction */
  .Introduction {
    background-color: #f1f1f1;
    padding: 30px;
  
    font-size: large;
  }
  #H1{
    text-align: center;
    position:absolute;
    TOP: 15%;
    right:36%
  }
  #H2{
    text-align: center;
    position:absolute;
    TOP: 27%;
    right:50%
  }
 
  /* Style of the bar  */
  nav {
    text-align: center;
     background-color: #000000;
     margin-left: 200px;
     margin-right: 200px;
    }
    
    nav ul {
   display: inline-block;
   list-style-type: none;
   margin: 0;
   padding: 0;
    }
    
    nav ul li {
     display: inline-block;
     margin: 0 10px;
    }
    
    nav ul li a {
     display: block;
     padding: 10px;
     color: #ffffff;
     text-decoration: none;
    }
    
    nav ul li a:hover {
    color: #07daff;
    background-color: #b44242;
    }
  
 
body{background-color: beige;}
.footer{ position: fixed;
right: 0;
bottom: 0;
width: 100%;
background-color: red;
color: white;
text-align: center;
}
.outerDiv{
  width:400px;
  height:400px;
  margin:0 auto;
  position:relative;
}
h2{text-align: center;}
